name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: "59 7-18/2 * * *"  # every 2 hours from 7:00 to 18:59 daily

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
        cache: 'npm'
    - run: npm ci
    - run: npx playwright install --with-deps chromium
    
    - name: Run Playwright tests
      run: npx playwright test
      env:
        DOTENV_PRIVATE_KEY_CI: ${{ secrets.DOTENV_PRIVATE_KEY }}
    
    - name: Download previous artifact
      uses: dawidd6/action-download-artifact@v6
      continue-on-error: true
      with:
        workflow: playwright.yml
        name: housing_offers   # already unzipped
        path: prev_artifact

    - name: Compare artifacts
      id: compare_md
      run: |
        if [ ! -f "prev_artifact/housing_offers.md" ]; then
          echo "Previous artifact not found, treating as different."
          echo "different=true" >> $GITHUB_OUTPUT
        elif cmp -s "housing_offers.md" "prev_artifact/housing_offers.md"; then
          echo "different=false" >> $GITHUB_OUTPUT
          echo "Files are the same"
        else
          echo "different=true" >> $GITHUB_OUTPUT
          echo "Files are different"
        fi

    - name: Send housing_offers.md via Email
      if: ${{ steps.compare_md.outputs.different == 'true' && !cancelled() }}
      uses: dawidd6/action-send-mail@v5
      with:
        server_address: smtp.gmail.com
        server_port: 465
        secure: true
        username: ${{ secrets.GMAIL_FOR_MARKDOWN }}
        password: ${{ secrets.GMAIL_APP_PASSWORD }}
        subject: "Action Logement Appartments"
        body: "Please find the attached housing_offers.md file."
        from: GitHub Actions
        to: ${{ secrets.GMAIL_FOR_MARKDOWN }}
        html_body: file://housing_offers.md
        convert_markdown: true

    - name: Upload housing_offers.md artifact
      uses: actions/upload-artifact@v4
      with:
        name: housing_offers
        path: housing_offers.md
